{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST" enctype="multipart/form-data">
                <!-- Input:Text -->
                {% csrf_token %}

                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <div class="form__field">
                    {% for tag in project.tag.all %}
                        <div data-tag="{{tag.id}}" data-project="{{project.id}}"  class="project-tag tag tag--pill tag--sub tag--lg">{{tag.name}}</div>
                    {% endfor %}

                </div>



                <div class="form__field">
                    <label for="formInput#text">Tags</label>
                    <textarea class="input" name="newtags" placeholder="add tags here.."></textarea>
                </div>              
                
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}


